# permissions for end users to view firewalls.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: firewall-viewer-role
rules:
- apiGroups:
  - firewall.metal-stack.io
  resources:
  - firewalls
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - firewall.metal-stack.io
  resources:
  - firewalls/status
  verbs:
  - get
