---
apiVersion: v1
kind: Namespace
metadata:
  name: firewall-controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: firewall-controller
  name: firewall-controller
  namespace: firewall-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: firewall-controller
  template:
    metadata:
      labels:
        app: firewall-controller
    spec:
      containers:
      - image: metal-stack.io/firewall-controller
        imagePullPolicy: IfNotPresent
        name: firewall-controller
        resources:
            requests:
              cpu: 100m
              memory: 50m
            limits:
              cpu: 200m
              memory: 1G
        securityContext:
          capabilities:
            add: 
            - "NET_ADMIN"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: firewall-controller
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  - services
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs: ["*"]
- apiGroups:
  - apiextensions.k8s.io
  - ""
  resources:
  - customresourcedefinitions
  - services
  - endpoints
  verbs:
  - get
  - create
  - update
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metal-stack.io
  resources:
  - networkids
  - firewalls
  - firewalls/status
  - clusterwidenetworkpolicies
  verbs:
  - list
  - get
  - update
  - patch
  - create
  - delete
  - watch

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: firewall-controller-view
  labels:
    # With this label, all view roles will automatically get view access to this resources.
    rbac.authorization.k8s.io/aggregate-to-view: "true"
rules:
- apiGroups:
  - "metal-stack.io/v1"
  resources:
  - clusterwidenetworkpolicy
  - firewall
  verbs:
  - get
  - list
  - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: firewall-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: firewall-controller
subjects:
- kind: User
  name: system:serviceaccount:firewall-controller:default
