apiVersion: metal-stack.io/v1
kind: Firewall
metadata:
  namespace: firewall
  name: firewall
spec:
  interval: 10s
  dryrun: true
  ipv4rulefile: nftables.v4
  ratelimits:
  - interface: vrf104009
    rate: 10
  internalprefixes:
  - "127.0.0.1"
  - "100.64.0.0/8"
  trustednetworks:
  - "0.0.0.0/0"
