
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: firewalls.firewall.metal-stack.io
spec:
  group: firewall.metal-stack.io
  names:
    kind: Firewall
    listKind: FirewallList
    plural: firewalls
    singular: firewall
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Firewall is the Schema for the firewalls API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: FirewallSpec defines the desired state of Firewall
          properties:
            dryrun:
              type: boolean
            enabled:
              type: boolean
            interval:
              type: string
            ipv4rulefile:
              type: string
            nftablesexporterurl:
              type: string
            trafficcontrol:
              description: TrafficControl contains the tc settings.
              properties:
                interfaces:
                  type: string
                rules:
                  items:
                    description: TrafficControlRule contains the tc settings for a
                      nic.
                    properties:
                      interface:
                        type: string
                      rate:
                        type: string
                    type: object
                  type: array
              type: object
          type: object
        status:
          description: FirewallStatus defines the observed state of Firewall
          properties:
            lastRun:
              format: date-time
              type: string
            message:
              type: string
            stats:
              description: FirewallStats contains firewall statistics
              properties:
                rules:
                  additionalProperties:
                    additionalProperties:
                      description: RuleStat contains the statistics for a single nftables
                        rule
                      properties:
                        counters:
                          additionalProperties:
                            format: int64
                            type: integer
                          type: object
                      required:
                      - counters
                      type: object
                    description: RuleStats contains firewall rule statistics of all
                      rules of an action
                    type: object
                  description: 'RuleStatsByAction contains firewall rule statistics
                    groups by action: e.g. accept, drop, policy, masquerade'
                  type: object
                trafficcontrol:
                  additionalProperties:
                    description: TrafficControlStats contains statistics about traffic
                      control rules.
                    properties:
                      backlog:
                        format: int64
                        type: integer
                      bytes:
                        format: int64
                        type: integer
                      drops:
                        format: int64
                        type: integer
                      overlimits:
                        format: int64
                        type: integer
                      packets:
                        format: int64
                        type: integer
                      qlen:
                        format: int64
                        type: integer
                      requeues:
                        format: int64
                        type: integer
                    required:
                    - backlog
                    - bytes
                    - drops
                    - overlimits
                    - packets
                    - qlen
                    - requeues
                    type: object
                  description: TrafficControlStatsByIface containts statistics about
                    traffic control rules by interface.
                  type: object
              required:
              - rules
              - trafficcontrol
              type: object
          required:
          - stats
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
